@mixin d-flex {
	display: flex;
}
@mixin d-inline-flex {
	display: inline-flex;
}
@mixin d-none {
	display: none;
}
@mixin d-block {
	display: block;
}
@mixin d-inline-block {
	display: inline-block;
}
@mixin flex-row {
	flex-direction: row;
}
@mixin flex-row-reverse {
	flex-direction: row-reverse;
}
@mixin flex-column {
	flex-direction: column;
}
@mixin flex-column-reverse {
	flex-direction: column-reverse;
}
@mixin align-items-center {
	align-items: center;
}
@mixin align-items-start {
	align-items: flex-start;
}
@mixin align-items-end {
	align-items: flex-end;
}
@mixin align-items-baseline {
	align-items: baseline;
}
@mixin align-items-stretch {
	align-items: stretch;
}
@mixin justify-content-center {
	justify-content: center;
}
@mixin justify-content-start {
	justify-content: flex-start;
}
@mixin justify-content-end {
	justify-content: flex-end;
}
@mixin justify-content-between {
	justify-content: space-between;
}
@mixin justify-content-around {
	justify-content: space-around;
}
@mixin flex-grow-1 {
	flex-grow: 1;
}
@mixin flex-shrink-1 {
	flex-shrink: 1;
}
@mixin flex-wrap {
	flex-wrap: wrap;
}
@mixin float-end {
	float: right;
}
@mixin float-start {
	float: left;
}
@mixin float-none {
	float: none;
}
@mixin text-end {
	text-align: right;
}
@mixin text-center {
	text-align: center;
}
@mixin text-start {
	text-align: left;
}
@mixin center-v {
	@include d-flex();
	@include align-items-center();
	@include justify-content-center();
}

/* --------------------------------------------------------------------------
	grid-system
*/

@mixin row {
	.#{$nn}row {
		display: flex;
		flex-wrap: wrap;
		margin-right: -0.75rem;
		margin-left: -0.75rem;
		& > * {
			width: 100%;
			max-width: 100%;
			padding-right: 0.75rem;
			padding-left: 0.75rem;
		}
	}
	.#{$nn}col {
		flex: 1 0 0%;
	}
}

@mixin grids-cols ( $p, $prefix, $min-width ) {
	@for $size from 1 through 12 {
		.#{$nn}col-#{$p}#{$size} {
			-webkit-box-flex: 0;
    		-ms-flex: 0 0 (100% / 12 * $size);
			flex: 0 0 (100% / 12 * $size);
			width: (100% / 12 * $size); 
		}
	}
}

/* --------------------------------------------------------------------------
	forms
*/

$input-padding-y: .375rem;
$input-padding-x:  .75rem;
$form-file-button-color: #000;

@mixin forms {

	.#{$nn}form-label {
		margin-bottom: 0.5rem;
		display: inline-block;
	}
	.#{$nn}form-text {
		margin-top: 0.25rem;
		font-size: .875em;
		color: #6c757d;
	}

	.#{$nn}form-control {
		display: block;
		width: 100%;
		padding: $input-padding-x $input-padding-x;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #212529;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&[type=file] {
			overflow: hidden;
			padding: 0;
			&:not(:disabled):not([readonly]) {
				cursor: pointer;
			}
		}

		&[type="search"]::-webkit-search-cancel-button {
			-webkit-appearance: none;
			height: 24px;
			width: 24px;
			margin-left: .4em;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23aaa'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");
			cursor: pointer;
		}
	
		&::-webkit-file-upload-button,
		&::file-selector-button {
			font: inherit;
			padding: .375rem 1rem;
			margin: 0;
			margin-inline-end: $input-padding-x;
			color: $form-file-button-color;
			pointer-events: none;
			border-color: inherit;
			border-style: solid;
			border-width: 0;
			border-inline-end-width: 1px;
			border-radius: 0;
		}
	}

	select.#{$nn}form-control {
		padding-right: #{$input-padding-x * 3};
		background-repeat: no-repeat;
		background-position: right center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='2.5em' height='1.5em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24' class='iconify iconify--uis'%3E%3Cpath fill='currentColor' d='M16.9 9.2c-.4-.4-1-.4-1.4 0L12 12.7L8.5 9.2c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l4.2 4.2c.2.2.4.3.7.3c.3 0 .5-.1.7-.3l4.2-4.2c.4-.4.4-1 0-1.4z'%3E%3C/path%3E%3C/svg%3E");
	}

	.#{$nn}form-check {
		display: block;
		min-height: 1.5rem;
		padding-left: 1.5em;
		margin-bottom: 0.125rem;

		label {
			display: inline-block;
		}
	}
	.#{$nn}form-check-input[type="checkbox"] {
		float: left;
		margin-left: -1.5em;
		width: 1em;
		height: 1em;
		margin-top: 0.25em;
		vertical-align: top;
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		border: 1px solid rgba(0,0,0,.25);
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-webkit-print-color-adjust: exact;
		color-adjust: exact;

		&[type=checkbox] {
			border-radius: 0;
		}
		&:checked[type=checkbox] {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
			background-color: #0d6efd;
			border-color: #0d6efd;
		}
	}

	.#{$nn}form-inline {
		@include d-flex();
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	
	.#{$nn}input-group {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		width: 100%;
		& > .#{$nn}input-group-text {
			@include d-flex();
			align-items: center;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #212529;
			text-align: center;
			white-space: nowrap;
			background-color: #fff;
			border: 1px solid #ced4da;
			min-height: 100%;
		}
		& > .#{$nn}form-control {
			position: relative;
			flex: 1 1 auto;
			width: 1%;
			min-width: 0;
			& ~ .#{$nn}input-group-text {
				margin-left: -1px;
				z-index: 1;
				border-left: none;
			}
		}
	}
}

/* --------------------------------------------------------------------------
	alerts
*/

@mixin alert {

	.#{$nn}alert {
		position: relative;
		padding: 1rem 1rem;
		margin-bottom: 1rem;
		border: 1px solid transparent;
		border-radius: 0.25rem;
	}

	.#{$nn}alert-success {
		color: #0f5132;
		background-color: #d1e7dd;
		border-color: #badbcc;
	}
	.#{$nn}alert-danger {
		color: #842029;
	    background-color: #f8d7da;
    	border-color: #f5c2c7;
	}
	.#{$nn}alert-warning {
		color: #664d03;
		background-color: #fff3cd;
		border-color: #ffecb5;
	}
	.#{$nn}alert-info {
		color: #055160;
		background-color: #cff4fc;
		border-color: #b6effb;
	}
}

@mixin pagination {
	.#{$nn}pagination {
		@include d-flex();
		padding-left: 0;
		list-style: none;
	}
	.#{$nn}page-link {
		padding: 0.375rem 0.75rem;
		position: relative;
		display: block;
		color: #0d6efd;
		text-decoration: none;
		background-color: #fff;
		border: 1px solid #dee2e6;
		transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}
	.#{$nn}page-item:first-child .#{$nn}page-link {
		border-top-left-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
	}
	.#{$nn}page-item:not(:first-child) .#{$nn}page-link {
		margin-left: -1px;
	}
	.#{$nn}page-item.active .#{$nn}page-link {
		z-index: 3;
		color: #fff;
		background-color: #0d6efd;
		border-color: #0d6efd;
	}
	.#{$nn}page-item.disabled .#{$nn}page-link {
		color: #6c757d;
		pointer-events: none;
		background-color: #fff;
		border-color: #dee2e6;
	}
}

@mixin a11y {
	.#{$nn}visually-hidden,
	.#{$nn}visually-hidden-focusable:not(:focus):not(:focus-within) {
		position: absolute!important;
		width: 1px!important;
		height: 1px!important;
		padding: 0!important;
		margin: -1px!important;
		overflow: hidden!important;
		clip: rect(0,0,0,0)!important;
		white-space: nowrap!important;
		border: 0!important;
	}
}


@mixin media {
	.#{$nn}img-fluid {
		max-width: 100%;
    	height: auto;
	}
}

@mixin collapse {
	.#{$nn}collapse {
		&:not(.show) {
			display: none;
		}
	}	  
}

/* --------------------------------------------------------------------------
	p--30 bis p-30 ... and lots more
*/

@mixin padding-margin-sizes ( $p, $prefix, $min-width ) {
	@for $size from -10 through 20 {
		
		// Negatives padding macht keinen Sinn...
		@if $size >= 0 {
			.#{$nn}pt-#{$p}#{$size}, .#{$nn}py-#{$p}#{$size}, .#{$nn}p-#{$p}#{$size} { padding-top: ($size * 0.25rem)#{$important}; }
			.#{$nn}pb-#{$p}#{$size}, .#{$nn}py-#{$p}#{$size}, .#{$nn}p-#{$p}#{$size} { padding-bottom: ($size * 0.25rem)#{$important}; }
			.#{$nn}ps-#{$p}#{$size}, .#{$nn}px-#{$p}#{$size}, .#{$nn}p-#{$p}#{$size} { padding-left: ($size * 0.25rem)#{$important}; }
			.#{$nn}pe-#{$p}#{$size}, .#{$nn}px-#{$p}#{$size}, .#{$nn}p-#{$p}#{$size} { padding-right: ($size * 0.25rem)#{$important}; }
		}
		
		// Margin kann auch negativ sein
		.#{$nn}mt-#{$p}#{$size}, .#{$nn}my-#{$p}#{$size}, .#{$nn}m-#{$p}#{$size} { margin-top: ($size * 0.25rem)#{$important}; }
		.#{$nn}mb-#{$p}#{$size}, .#{$nn}my-#{$p}#{$size}, .#{$nn}m-#{$p}#{$size} { margin-bottom: ($size * 0.25rem)#{$important}; }
		.#{$nn}ms-#{$p}#{$size}, .#{$nn}mx-#{$p}#{$size}, .#{$nn}m-#{$p}#{$size} { margin-left: ($size * 0.25rem)#{$important}; }
		.#{$nn}me-#{$p}#{$size}, .#{$nn}mx-#{$p}#{$size}, .#{$nn}m-#{$p}#{$size} { margin-right: ($size * 0.25rem)#{$important}; }
	}
	
	// Max-Width auf pixel-Größe (z.B. maxw-100 oder maxw-sm-100)
	@for $size from 2 through 32 {
		.#{$nn}maxw-#{$p}#{$size * 50} { max-width: ($size * 50px); }
	}
	// Breiten in Prozent (z.B. w-25 oder w-md-25)
	@for $size from 1 through 4 {
		.#{$nn}w-#{$p}#{$size * 25} { width: ($size * 25%); }
	}

	// ms-auto / ms-md-auto
	.#{$nn}ms-#{$p}auto { margin-left: auto; }
	.#{$nn}me-#{$p}auto { margin-right: auto; }
	.#{$nn}mt-#{$p}auto { margin-top: auto; }
	.#{$nn}mb-#{$p}auto { margin-bottom: auto; }
	.#{$nn}mx-#{$p}auto { margin-left: auto; margin-right: auto; }
	.#{$nn}my-#{$p}auto { margin-top: auto; margin-bottom: auto; }

	// Max-Width auf Breakpoint (z.B. maxw-lg)
	.#{$nn}maxw-#{$prefix} { max-width: $min-width; }

	// Proportionen für Bilder
	.#{$nn}prop-#{$p}slider {
		padding-top: 44.4%;
	}
	.#{$nn}prop-#{$p}wide {
		padding-top: 75%;
	}
	.#{$nn}prop-#{$p}square {
		padding-top: 100%;
	}
	.#{$nn}d-#{$p}flex {
		@include d-flex();
	}
	.#{$nn}d-#{$p}inline-flex {
		@include d-inline-flex();
	}
	.#{$nn}d-#{$p}none {
		@include d-none();
	}
	.#{$nn}d-#{$p}block {
		@include d-block();
	}
	.#{$nn}d-#{$p}inline-block {
		@include d-inline-block();
	}
	.#{$nn}flex-#{$p}row {
		@include flex-row();
	}
	.#{$nn}flex-#{$p}row-reverse {
		@include flex-row-reverse();
	}
	.#{$nn}flex-#{$p}column {
		@include flex-column();
	}
	.#{$nn}flex-#{$p}column-reverse {
		@include flex-column-reverse();
	}
	.#{$nn}align-items-#{$p}center {
		@include align-items-center();
	}
	.#{$nn}align-items-#{$p}start {
		@include align-items-start();
	}
	.#{$nn}align-items-#{$p}end {
		@include align-items-end();
	}
	.#{$nn}align-items-#{$p}baseline {
		@include align-items-baseline();
	}
	.#{$nn}align-items-#{$p}stretch {
		@include align-items-stretch();
	}
	.#{$nn}justify-content-#{$p}center {
		@include justify-content-center();
	}
	.#{$nn}justify-content-#{$p}start {
		@include justify-content-start();
	}
	.#{$nn}justify-content-#{$p}end {
		@include justify-content-end();
	}
	.#{$nn}justify-content-#{$p}between {
		@include justify-content-between();
	}
	.#{$nn}justify-content-#{$p}around {
		@include justify-content-around();
	}
	.#{$nn}flex-#{$p}grow-1 {
		@include flex-grow-1();
	}
	.#{$nn}flex-#{$p}shrink-1 {
		@include flex-shrink-1();
	}
	.#{$nn}flex-#{$p}wrap {
		@include flex-wrap();
	}
	.#{$nn}float-#{$p}end {
		@include float-end();
	}
	.#{$nn}float-#{$p}start {
		@include float-start();
	}
	.#{$nn}float-#{$p}none {
		@include float-none();
	}
	.#{$nn}text-#{$p}start {
		@include text-start();
	}
	.#{$nn}text-#{$p}center {
		@include text-center();
	}
	.#{$nn}text-#{$p}end {
		@include text-end();
	}
	.#{$nn}center-#{$p}v {
		@include d-flex();
		@include align-items-center();
		@include justify-content-center();
	}
}

/* ------------------------------------------------------------------
	Renders the padding/margin utilities for additional padding
	and margin. Use `@include render-bootstrap-padding-margins()` in app.scss
*/

@mixin render-bootstrap-padding-margins () {

	@include row();
	@include forms();
	@include pagination();
	@include alert();
	@include a11y();
	@include media();
	@include collapse();

	@each $prefix, $min-width in $breakpointList {

		// Überschreiben der Bootstrap Größen. Vermeidet Sprung zwischen 4 und 5
		$p: '';
		
		@if $prefix != 'xs' {
			$p: '#{$prefix}-';
			$p: unquote($p);
			@media ( min-width: #{$min-width} ) {
				@include padding-margin-sizes($p, $prefix, $min-width );
				@include grids-cols($p, $prefix, $min-width);
				.#{$nn}position-#{$prefix}-absolute {
					position: absolute;
				}
				.#{$nn}position-#{$prefix}-relative {
					position: relative;
				}
			}
		} @else {
			@include padding-margin-sizes($p, $prefix, $min-width );
			@include grids-cols($p, $prefix, $min-width);
		}
	
	}
	
	@media ($max-device-width-sm) {
		.#{$nn}v-xs-none { display: none; }
	}
	@media ($min-device-width-sm) and ($max-device-width-md) {
		.#{$nn}v-sm-none { display: none; }
	}
	@media ($min-device-width-md) and ($max-device-width-lg) {
		.#{$nn}v-md-none { display: none; }
	}
	@media ($min-device-width-lg) and ($max-device-width-xl) {
		.#{$nn}v-lg-none { display: none; }
	}
	@media ($min-device-width-xl) and ($max-device-width-xxl) {
		.#{$nn}v-xl-none { display: none; }
	}
	@media ($min-device-width-xxl) {
		.#{$nn}v-xxl-none { display: none; }
	}

}